# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
*.vspscc
.vs/
app.log

# NuGet
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/
